.title {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  color: var(--text-100-w);
}
<<<<<<< HEAD
=======

@media screen and (max-width: 680px) {
  .title {
    font-size: 26px;
  }
}
>>>>>>> 01bb2b1 (deploy)
